.copyRight {
  position: relative;
  bottom: 0;
text-decoration: none;
  color: white;
  font-size: 85%;

  width: 100%;
  text-align: center;
  padding: 1rem;
  & a{
    color: #E50914;
  }
}

@media (max-width:760px){
  .copyRight{
    width: 90%;
  }
} 


